body{
    background-color: #f1f2f3;
}

.clickable{
    cursor:pointer !important;
}
.bg-home{
    background: url('~assets/images/home.jpg');
    background-position: center;
    .jumbotron{
        background-color: transparent;
    }
}


.bg-favorite{
    background: url('~assets/images/favorite.jpg');
    background-position: center;
}

.bg-detail{
    background: url('~assets/images/detail.jpg');
    background-position: center;
}

.bg-edit{
    background: url('~assets/images/home.jpg');
    background-position: center;
}

.bg-team{
    background: url('~assets/images/home.jpg');
    background-position: center;
}