<template>
  <b-navbar toggleable="lg" type="light" variant="light">
    <b-navbar-brand href="/">
      <b-img src="~/assets/images/logo.svg" />
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-button
          size="md"
          variant="outline-secondary"
          class="my-2 my-sm-0 mr-2"
          href="/favorite"
          >My Favorites</b-button
        >
        <b-button size="md" variant="primary" class="my-2 my-sm-0" href="/team"
          >My Teams</b-button
        >
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>