<template>
  <b-card class="mb-4">
    <b-button size="sm" variant="outline-danger" class="float-right">
      <i class="bi bi-trash"></i>
    </b-button>
    <h5 class="text-center mb-4 mt-5">Dunsparce</h5>
  </b-card>
</template>
