<template :key="item.name">
  <b-card class="mb-4">
    <b-button
      size="sm"
      variant="primary"
      class="float-right"
      @click="removeFavorite"
      v-if="isFavorite"
    >
      <i class="bi bi-bookmark-check-fill"></i>
      Faved
      <!-- Favorited -->
    </b-button>
    <b-button
      size="sm"
      variant="outline-primary"
      class="float-right"
      @click="addFavorite"
      v-else
    >
      <i class="bi bi-bookmark"></i>
      Fave
      <!-- Add Favorite -->
    </b-button>
    <h5 class="text-center mb-4 mt-2">{{ item.name }}</h5>

    <b-button
      size="sm"
      block
      variant="outline-primary"
      :href="`/pokemon/${item.name}`"
      >View Pokemon</b-button
    >
  </b-card>
</template>
<script>
export default {
  props: ["item"],
  name: "poke-card",
  data: () => {
    return {
      isFavorite: false,
    };
  },
  methods: {
    addFavorite: async function () {
      this.$store.commit("favorite/add", this.item.name);
      this.checkFavorite();
    },
    removeFavorite: async function () {
      this.$store.commit("favorite/remove", this.item.name);
      this.checkFavorite();
    },
    checkFavorite: async function () {
      this.isFavorite =
        this.$store.state.favorite.favorites.indexOf(this.item.name) > -1;
      console.log(this.isFavorite);
    },
  },
  mounted: async function () {
    this.checkFavorite();
  },
};
</script>
