<template>
  <div>
    <b-card class="mb-4">
      <b-button
        size="sm"
        variant="outline-danger"
        class="float-right ml-2"
        @click="$bvModal.show(`modal-delete${team.id}`)"
      >
        <i class="bi bi-trash"></i>

        Delete
      </b-button>
      <b-button
        size="sm"
        variant="primary"
        class="float-right"
        :href="`/team/${team.id}`"
      >
        <i class="bi bi-pencil-square"></i>
        Edit
      </b-button>

      <h5 class="mb-3">{{ team.name }}</h5>

      <div>
        <b-button
          v-for="member in team.members"
          :key="member"
          v-bind="(key = member)"
          variant="outline-info"
          class="mr-2"
          :href="`/pokemon/${member}`"
        >
          {{ member }}
        </b-button>
      </div>
    </b-card>
    <b-modal :id="`modal-delete${team.id}`" hide-footer>
      <div class="d-block text-center">
        <h3>Delete Confirmation</h3>
        <p class="mt-2 mb-4">Are you sure to delete team {{ team.name }}?</p>
      </div>
      <b-row class="mt-3 mb-5 px-4">
        <b-col>
          <b-button
            variant="outline-secondary"
            block
            @click="$bvModal.hide(`modal-delete${team.id}`)"
            >No, Cancel Deletion</b-button
          >
        </b-col>
        <b-col>
          <b-button variant="danger" block @click="remove"
            >Yes, Delete Team</b-button
          >
        </b-col>
      </b-row>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: ["team"],
  name: "team-card",
  methods: {
    remove: async function () {
      this.$store.commit("team/remove", this.team.id);
      this.$bvModal.hide(`modal-delete${this.team.id}`);
      this.$emit("deleted");
    },
  },
  mounted: async function () {},
};
</script>
