<template>
  <div>
    <navbar />
    <div class="bg-edit pt-4 pb-5">
      <b-container>
        <b-button variant="outline-light" href="/team">
          <i class="bi bi-chevron-left"></i>
          Back
        </b-button>
        <h4 class="text-white mt-4 mb-5">Edit Team</h4>
      </b-container>
    </div>

    <b-container class="py-3" style="margin-top: -72px">
      <b-card>
        <div class="alert alert-danger" v-if="errorMax">
          You cannot add more than 6 members!
        </div>
        <div class="alert alert-danger" v-if="error">
          You have to input name and add members!
        </div>
        <div role="group" class="mb-3">
          <label for="input-live">Team name:</label>
          <b-form-input
            id="input-live"
            v-model="name"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Enter team name"
            trim
          ></b-form-input>

          <!-- This will only be shown if the preceding input has an invalid state -->
          <!--b-form-invalid-feedback id="input-live-feedback">
            Enter at least 3 letters
          </b-form-invalid-feedback-->

          <!-- This is a form text block (formerly known as help block) -->
          <!--b-form-text id="input-live-help">Your full name.</b-form-text-->
        </div>
        <div role="group">
          <label for="input-live">Pokemon Members</label>
          <b-row>
            <b-col sm="10" xs="7">
              <b-form-input
                size="md"
                class="mr-sm-2"
                placeholder="Input name or id to search pokemon here.."
                v-model="query"
                @keydown.enter="search"
              ></b-form-input>
            </b-col>
            <b-col sm="2" xs="5">
              <b-button
                size="md"
                class="my-2 my-sm-0"
                type="submit"
                variant="outline-primary"
                block
                @click="search"
                >Search</b-button
              >
            </b-col>
          </b-row>
          <b-card
            class="mt-3"
            v-if="state == 'FOUND'"
            @click="() => addMember(pokemon.name)"
          >
            <h4>
              {{ pokemon.name }}
            </h4>
            <p class="text-muted mb-0">
              Height:{{ pokemon.height }} | Weight: {{ pokemon.weight }} | Types
              : {{ pokemon.typeString }}
            </p>
          </b-card>
          <b-card class="mt-3 clickable" v-else-if="state == 'NOTFOUND'">
            <p class="text-center text-info py-2 mb-0">
              There is no pokemon with name or id above
            </p>
          </b-card>
          <b-row v-if="members.length" class="mt-3">
            <b-col
              md="3"
              sm="4"
              xs="3"
              v-for="item in members"
              :key="item"
              v-bind="(key = item)"
            >
              <b-card class="mb-4">
                <b-button
                  size="sm"
                  variant="outline-danger"
                  class="float-right"
                  @click="() => removeMember(item)"
                >
                  <i class="bi bi-trash"></i>
                  Delete
                </b-button>
                <h5 class="text-center mb-4 mt-5">{{ item }}</h5>
              </b-card>
            </b-col>
          </b-row>
        </div>
        <hr />
        <b-row>
          <b-col md="3" xs="12" offset-md="9">
            <b-button
              size="md"
              class="my-2 my-sm-0"
              type="submit"
              variant="primary"
              block
              @click="saveTeam"
              >Save Team</b-button
            >
          </b-col>
        </b-row>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import AppLogo from "~/components/AppLogo.vue";
import Navbar from "~/components/Navbar.vue";
import PokeCardEdit from "~/components/PokeCardEdit.vue";

export default {
  components: {
    AppLogo,
    Navbar,
    PokeCardEdit,
  },
  data: () => {
    return {
      name: "",
      query: "",
      state: "IDLE",
      baseURL: "",
      id: "",
      members: [],
      error: false,
      errorMax: false,
    };
  },
  computed: {
    nameState() {
      return this.name.length > 2 ? true : false;
    },
  },
  methods: {
    search: async function () {
      this.state = "IDLE";
      try {
        let result = await this.$axios.$get(
          `${this.baseURL}pokemon/${this.query}`
        );
        console.log(result);
        this.pokemon = result;
        this.pokemon.typeString = "";
        this.pokemon.types.forEach((element, index) => {
          if (index) {
            this.pokemon.typeString += ", ";
          }
          this.pokemon.typeString += element.type.name;
        });
        this.state = "FOUND";
      } catch (error) {
        console.log(error);
        this.pokemon = null;
        this.state = "NOTFOUND";
      }
    },
    addMember: async function (name) {
      if (this.members.indexOf(name) < 0) {
        this.members = [...this.members, name];
      }
      this.state = "IDLE";
      console.log(this.members);
    },
    removeMember: async function (name) {
      let index = this.members.indexOf(name);
      if (index > -1) {
        this.members.splice(index, 1);
      }
      console.log(this.members);
    },
    saveTeam: async function () {
      this.error = false;
      this.errorMax = false;
      if (this.name && this.members.length) {
        if (this.members.length > 6) {
          this.errorMax = true;
          this.error = false;
        } else {
          this.$store.commit("team/edit", {
            id: this.id,
            name: this.name,
            members: this.members,
          });
          this.$router.push("/team");
        }
      } else {
        this.error = true;
        this.errorMax = false;
      }
    },
    fetchData: async function () {
      this.id = this.$route.params.id;
      let that = this;
      let teams = JSON.parse(JSON.stringify(this.$store.state.team.teams));
      let result;
      teams.forEach((item) => {
        if (item.id == that.id) {
          result = Object.assign({}, item);
        }
      });
      if (result) {
        this.name = result.name;
        this.members = result.members;
      }
    },
  },
  mounted: async function () {
    this.baseURL = this.$store.state.pokemon.baseURL;
    this.fetchData();
  },
};
</script>

