<template>
  <div>
    <navbar />
    <div class="bg-team pt-4 pb-5">
      <b-container>
        <b-row>
          <b-col md="10" sm="8" xs="6">
            <b-button variant="outline-light" href="/" size="sm">
              <i class="bi bi-chevron-left"></i>
              Back
            </b-button>
            <h4 class="text-white mt-4 mb-5">My Teams</h4>
          </b-col>
          <b-col md="2" sm="4" xs="6">
            <b-button
              variant="light"
              class="text-primary"
              block
              size="md"
              href="/team/form"
            >
              <i class="bi bi-plus"></i>
              New Team
            </b-button>
          </b-col>
        </b-row>
      </b-container>
    </div>

    <b-container class="py-3" style="margin-top: -72px">
      <team-card
        v-for="team in teams"
        v-bind="(key = team)"
        :key="team.id"
        :team="team"
        @deleted="fetchList"
      />
    </b-container>
  </div>
</template>

<script>
import Navbar from "~/components/Navbar.vue";
import TeamCard from "~/components/TeamCard.vue";

export default {
  components: {
    Navbar,
    TeamCard,
  },
  data: () => {
    return {
      teams: [],
    };
  },
  methods: {
    fetchList: async function () {
      this.teams = this.$store.state.team.teams;
      console.log(this.teams);
    },
  },
  mounted: async function () {
    this.fetchList();
  },
};
</script>
<style>
#__layout {
  height: 100vh;
}
.jumbotron {
  background-color: #fff;
}
</style>

