<template>
  <div>
    <navbar />
    <div class="bg-favorite pt-4 pb-5">
      <b-container>
        <b-button variant="outline-light" href="/" size="sm">
          <i class="bi bi-chevron-left"></i>
          Back
        </b-button>
        <h4 class="text-white mt-4 mb-5">My Favorites</h4>
      </b-container>
    </div>

    <b-container class="py-3" style="margin-top: -72px">
      <b-row>
        <b-col
          md="3"
          sm="4"
          xs="3"
          v-for="item in favorites"
          :key="item"
          v-bind="(key = item)"
        >
          <poke-card :item="item" />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import AppLogo from "~/components/AppLogo.vue";
import Navbar from "~/components/Navbar.vue";
import PokeCard from "~/components/PokeCard.vue";

export default {
  components: {
    AppLogo,
    Navbar,
    PokeCard,
  },
  data: () => {
    return {
      favorites: [],
    };
  },
  methods: {
    removeFavorite: async function (name) {
      this.$store.commit("favorite/remove", name);
      this.fetchList();
    },
    fetchList: async function () {
      console.log(this.$store.state.favorite.favorites);
      this.favorites = this.$store.state.favorite.favorites.map((item) => {
        return { name: item };
      });
    },
  },
  mounted: async function () {
    this.fetchList();
  },
};
</script>

