<template>
  <div>
    <navbar />
    <div class="bg-home">
      <b-container>
        <b-jumbotron
          class="px-0"
          text-align="centered"
          text-variant="white"
          header="Welcome to Poketeam"
          lead="Where you can have fun creating your own Pokemon Team"
        >
          <b-card class="mt-4">
            <b-row>
              <b-col sm="10" xs="7">
                <b-form-input
                  size="lg"
                  class="mr-sm-2"
                  placeholder="Input name or id to search pokemon here.."
                  v-model="query"
                  @keydown.enter="search"
                ></b-form-input>
              </b-col>
              <b-col sm="2" xs="5">
                <b-button
                  size="lg"
                  class="my-2 my-sm-0"
                  type="submit"
                  variant="primary"
                  block
                  @click="search"
                  >Search</b-button
                >
              </b-col>
            </b-row>
          </b-card>
          <b-card class="mt-3" v-if="state == 'FOUND'">
            <h4>
              <nuxt-link :to="`/pokemon/${pokemon.name}`">
                {{ pokemon.name }}
              </nuxt-link>
            </h4>
            <p class="text-muted mb-0">
              Height:{{ pokemon.height }} | Weight: {{ pokemon.weight }} | Types
              : {{ pokemon.typeString }}
            </p>
          </b-card>
          <b-card class="mt-3" v-else-if="state == 'NOTFOUND'">
            <p class="text-center text-info py-2 mb-0">
              There is no pokemon with name or id above
            </p>
          </b-card>
        </b-jumbotron>
      </b-container>
    </div>

    <b-container class="pb-5">
      <h3 class="mb-4">Pokemon for You</h3>
      <div v-if="!loading">
        <b-row>
          <b-col
            md="3"
            sm="4"
            xs="3"
            v-for="item in pokemons"
            :key="item.name"
            v-bind="(key = item)"
          >
            <poke-card :item="item" />
          </b-col>
        </b-row>
        <b-row>
          <b-col></b-col>
          <b-col></b-col>
          <b-col>
            <b-button size="sm" block variant="outline-info" @click="fetchList"
              >Load More</b-button
            >
          </b-col>
          <b-col></b-col>
          <b-col></b-col>
        </b-row>
      </div>
      <spinner v-else />
    </b-container>
  </div>
</template>

<script>
import AppLogo from "~/components/AppLogo.vue";
import Navbar from "~/components/Navbar.vue";
import PokeCard from "~/components/PokeCard.vue";
import Spinner from "~/components/Spinner.vue";

export default {
  components: {
    AppLogo,
    Navbar,
    PokeCard,
    Spinner,
  },
  data: () => {
    return {
      pokemons: [],
      pokemon: null,
      baseURL: "",
      offset: 0,
      loading: false,
      limit: 16,
      query: "",
      searchResult: null,
      state: "IDLE",
    };
  },
  methods: {
    fetchList: async function () {
      try {
        let result = await this.$axios.$get(
          `${this.baseURL}pokemon?limit=${this.limit}&offset=${this.offset}`
        );
        this.pokemons = [...this.pokemons, ...result.results];
        console.log(result);
      } catch (error) {
        console.log(error);
      }
      this.offset = this.offset + this.limit;
      this.loading = false;
    },
    search: async function () {
      this.state = "IDLE";
      try {
        let result = await this.$axios.$get(
          `${this.baseURL}pokemon/${this.query}`
        );
        console.log(result);
        this.pokemon = result;
        this.pokemon.typeString = "";
        this.pokemon.types.forEach((element, index) => {
          if (index) {
            this.pokemon.typeString += ", ";
          }
          this.pokemon.typeString += element.type.name;
        });
        this.state = "FOUND";
      } catch (error) {
        console.log(error);
        this.pokemon = null;
        this.state = "NOTFOUND";
      }
    },
  },
  mounted: async function () {
    this.loading = true;
    this.baseURL = this.$store.state.pokemon.baseURL;
    this.offset = Math.floor(Math.random() * 500) + 1;
    this.fetchList();
  },
};
</script>
<style>
#__layout {
  height: 100vh;
}
.jumbotron {
  background-color: #fff;
}
</style>

