<template>
  <div>
    <navbar />
    <div class="bg-detail pt-4 pb-5">
      <b-container>
        <b-row>
          <b-col md="10" sm="8" xs="6">
            <b-button variant="outline-light" @click="back" size="sm">
              <i class="bi bi-chevron-left"></i>
              Back
            </b-button>
            <h3 class="text-white mt-4 mb-5">{{ name }}</h3>
          </b-col>
          <b-col md="2" sm="4" xs="6">
            <b-button
              variant="light"
              class="text-primary"
              block
              size="md"
              @click="removeFavorite"
              v-if="isFavorite"
            >
              <i class="bi bi-bookmark-check-fill"></i>&nbsp; Favorited
            </b-button>
            <b-button
              variant="outline-light"
              class=""
              block
              size="md"
              @click="addFavorite"
              v-else
            >
              <i class="bi bi-bookmark-check"></i>&nbsp; Add Favorite
            </b-button>
          </b-col>
        </b-row>
      </b-container>
    </div>

    <b-container class="py-3" style="margin-top: -72px">
      <b-card v-if="!loading">
        <b-row>
          <b-col>
            <h5>Species</h5>
            <p>
              {{ species }}
            </p>
            <hr />

            <h5>Weight</h5>
            <p>
              {{ weight }}
            </p>
            <hr />
            <h5>Height</h5>
            <p>
              {{ height }}
            </p>
          </b-col>
          <b-col>
            <h5>Types</h5>
            <p v-if="types.length">
              <span v-for="(item, i) in types" v-bind="(key = item)">
                {{ i ? ", " : "" }}{{ item.type.name }}</span
              >
            </p>
            <p v-else>no types available</p>
            <hr />

            <h5>Abilities</h5>
            <p v-if="abilities.length">
              <span v-for="(ability, i) in abilities" v-bind="(key = ability)">
                {{ i ? ", " : "" }}{{ ability.ability.name }}</span
              >
            </p>
            <p v-else>no abilities available</p>
            <hr />
            <h5>Held Items</h5>
            <p v-if="held_items.length">
              <span
                v-for="(item, i) in held_items"
                v-bind="(key = item)"
                :key="i"
              >
                {{ i ? ", " : "" }}{{ item.item.name }}</span
              >
            </p>
            <p v-else>no held items available</p>
          </b-col>
        </b-row>
      </b-card>
      <b-card v-else>
        <spinner />
      </b-card>
    </b-container>
  </div>
</template>

<script>
import AppLogo from "~/components/AppLogo.vue";
import Navbar from "~/components/Navbar.vue";
import PokeCardEdit from "~/components/PokeCardEdit.vue";
import Spinner from "~/components/Spinner.vue";
export default {
  components: {
    AppLogo,
    Navbar,
    PokeCardEdit,
    Spinner,
  },
  computed: {
    nameState() {
      return this.name.length > 2 ? true : false;
    },
  },
  data() {
    return {
      pokemon: null,
      name: "",
      baseURL: "",
      abilities: [],
      base_experience: "",
      held_items: [],
      types: [],
      height: "",
      weight: "",
      species: "",
      loading: true,
      isFavorite: false,
    };
  },
  methods: {
    back: () => {
      window.history.length > 1 ? window.history.back() : window.open("/");
    },
    fetchData: async function () {
      try {
        let result = await this.$axios.$get(
          `${this.baseURL}pokemon/${this.name}`
        );
        console.log(result);
        this.abilities = result.abilities;
        this.base_experience = result.base_experience;
        this.held_items = result.held_items.length ? result.held_items : [];
        this.types = result.types;
        this.height = result.height;
        this.weight = result.weight;
        this.species = result.species.name;
      } catch (error) {
        console.log(error);
      }
      this.loading = false;
    },
    addFavorite: async function () {
      this.$store.commit("favorite/add", this.name);
      this.checkFavorite();
    },
    removeFavorite: async function () {
      this.$store.commit("favorite/remove", this.name);
      this.checkFavorite();
    },
    checkFavorite: async function () {
      this.isFavorite =
        this.$store.state.favorite.favorites.indexOf(this.name) > -1;
      console.log(this.isFavorite);
    },
  },
  mounted: async function () {
    this.baseURL = this.$store.state.pokemon.baseURL;
    this.name = this.$route.params.id;
    this.fetchData();
    this.checkFavorite();
  },
};
</script>
